.order-service {
  width: 200px;
  height: 50px;
  position: relative;
  padding: 10px 32px;
  background-color: $akcent;
  color: $white-color;
  position: relative;
}

.icon-cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: $white-color;
  border-radius: 4px;
}

form {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71%;
  letter-spacing: 0.03em;

  color: $color-of-second-text;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;

  a {
    margin-left: 5px;
    color: $akcent;
  }
}

.form-check {
  -webkit-appearance: none;
  position: absolute;
}

.check-lable {
  display: inline-flex;
  align-items: center;
}

.checkbox {
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
}

.form-check:checked + .checkbox {
  background-image: url("../images/iconcheck.svg");
  background-size: contain;
  background-origin: border-box;
  border: none;
}

.modal b {
  display: block;
  margin-right: auto;
  color: $colorofmaintext;
  text-transform: lowercase;
  margin-bottom: 30px;
  font-size: 20px;
}

.modal b::first-letter {
  text-transform: uppercase;
}

.close-button {
  position: relative;
  display: block;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 2px;
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;

  &:hover,
  &:focus {
    fill: $akcent;
    background-color: $white-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.form-name {
  position: relative;
  min-width: 448px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 43px;
  outline: none;
}

.first-input {
  position: relative;
  margin-bottom: 28px;
}

.form-lable {
  position: absolute;
  top: 50%;
  left: 82px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
}

.form-name:focus + .form-lable {
  color: $akcent;
  font-size: 12px;
}

.form-name:focus + .form-lable,
.form-name:not(:placeholder-shown) + .form-lable {
  transform: translate(-30px, -30px);
}

.icon-fname {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 59px;
  transform: translateY(-50%);
}

.form-name:focus ~ .icon-fname {
  fill: $akcent;
}

.form-name:hover,
.form-name:focus {
  border: 1px solid $akcent;
}

.second-input {
  position: relative;
  margin-bottom: 28px;
}

.form-name:focus ~ .icon-fphone {
  fill: $akcent;
}

.third-input {
  position: relative;
  margin-bottom: 28px;
}

.textarea {
  min-width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid $akcent;
  }
}

.form-check {
  display: flex;
  margin-left: 54px;
  margin-right: 0px;
}

.sent-resalt {
  margin-top: 30px;
  background-color: $akcent;
  color: $white-color;
  outline: none;
  font-size: 16px;
  line-height: 1.87px;
  min-width: 200px;
  min-height: 50px;
}
