.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  min-height: 80px;
  top: 0px;
  left: 0px;
  background-color: $white-color;
  border-bottom: 1px solid #ececec;

  .container {
    display: flex;
    align-items: center;
  }
}
