nav {
  display: flex;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0px;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: $akcent;
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 85px;
  padding: 0px;

  a {
    color: $colorofmaintext;
    display: block;
    padding-top: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-nav a:hover,
.site-nav a:focus {
  color: $akcent;
}
.link.portfolio {
  color: $akcent;

  &::after {
    display: block;
    margin-top: 28px;
    content: "";
    width: 100%;
    height: 4px;
    background-repeat: no-repeat;
    background-image: url(../images/hover2.svg);
  }
}

.link.studio {
  color: $akcent;

  &::after {
    display: block;
    margin-top: 28px;
    content: "";
    width: 100%;
    height: 4px;
    background-repeat: no-repeat;
    background-image: url(../images/hover.svg);
  }
}

.connection {
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  margin-left: auto;

  a {
    color: $color-of-second-text;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
  }
}
.connection .items + .items {
  margin-left: 30px;
}

.mail {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $akcent;
  }
}
.envelope {
  fill: $color-of-second-text;
  height: 12px;
  width: 16px;
  margin-right: 10px;
}

.mail:hover > .envelope {
  fill: $akcent;
}
.mail:focus > .envelope {
  fill: $akcent;
}
.smartphone {
  fill: $color-of-second-text;
  height: 15px;
  width: 10px;
  margin-right: 10px;
}

.phone {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $akcent;
  }
}
.phone:hover > .smartphone {
  fill: $akcent;
}
.phone:focus > .smartphone {
  fill: $akcent;
}
