$colorofmaintext: #212121;
$color-of-second-text: #757575;
$akcent: #2196f3;
$white-color: #ffffff;
$developed-by: rgba(255, 255, 255, 0.4);
$second-color-background: #f5f4fa;
$secondary-buttom-background: #f5f4fa;
$background-footer: #2f303a;
$footer-text: rgba(255, 255, 255, 0.6);
$items-color: #afb1b8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
